extends ./base
block main-content
    div.container
        div(class="row")
            div(class="col-xs-12 col-sm-8")
                form(name="createOrder", action="/order-create", method="post", enctype="multipart/form-data")
                    h3 #{contentStr.stepOneHeader}
                    textarea(type="text" class="form-control" id="userText" rows="6" name="userText" placeholder= contentStr.textarea maxlength="3750")
                    p(class="help-paragraph") #{contentStr.commentStepOne}
                    input(type="file" id="user-document" name="userDocument" accept=".txt,.doc,.docx,.odt,.rtf")
                    div(class="error-container space-input text-danger") #{error}
                    h3 #{contentStr.stepTwoHeader}
                    - var languages = [contentStr.french, contentStr.bulgarian, contentStr.english];
                    select(class="form-control" name="toLanguage" required)
                        each language in languages
                            option(value="#{language}") #{language}

                    div(class='space-input')
                    h3 #{contentStr.stepThreeHeader}
                    div
                        - let levels = [contentStr.standartLevel, contentStr.highLevel];
                        select(class="form-control" id="quality-level-input" name="qualityLevel" required)
                            each level in levels
                                option(value="#{level}") #{level}

                    div(class='space-input')
                    h3 #{contentStr.comment}
                    textarea(type="text" class="form-control" rows="4" name="userComment" maxlength="1500")
                    div(class='space-input')
                    input(type="submit" class="btn btn-success" value= contentStr.button)

            div(class="col-xs-12 col-sm-4")
                include order-display
