h3 #{orderDisplayStr.header}
hr
ul(class="order-summary")
    if (order)
        - wordsCount = order.wordsCount;
        - qualityLevel = order.qualityLevel;
    li #{orderDisplayStr.wordsCountStr} <strong class="pull-right" id="words-count">#{wordsCount}</strong>
    li #{orderDisplayStr.qualityLevelStr} <strong class="pull-right" id="quality-level">#{qualityLevel}</strong>
    li #{orderDisplayStr.pricePerWordStr} <strong class="pull-right"><strong id="price-per-word">#{pricePerWord}</strong>#{orderDisplayStr.currency}</strong>
hr
p
    strong #{orderDisplayStr.totalPriceStr} <span class="pull-right"><span id="total-price">#{totalPrice}</span>#{orderDisplayStr.currency}</span>